{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Navbar Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .link {
        cursor:pointer;
        color: #337ab7;
      }

      .link:hover {
        text-decoration:underline;
      }

      .profile {
        padding-top: 11px;
        padding-bottom: 15px;
      }

      .profile img {
        width: 30px;
        height: 30px;
      }
    </style>
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Beer Fridge</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="beers"><a href="#beers">Beers</a></li>
              <li class="glasswares"><a href="#glasswares">Glassware</a></li>
              <li class="breweries"><a href="#breweries">Breweries</a></li>
              <li class="locations"><a href="#locations">Locations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="profile">
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="container marketing" id="content"> </div>

    </div> <!-- /container -->

    <script type="text/html" id="template-home">
      <div class="row">
        <div class="col-lg-6">
          <h2>Beers</h2>
          <p>See the list of beers currently available.</p>
          <p class="nav"><a class="btn btn-default" href="#beers" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <h2>Glassware</h2>
          <p>See the list of glassware currently available.</p>
          <p class="nav"><a class="btn btn-default" href="#glasswares" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <h2>Breweries</h2>
          <p>See the list of breweries currently in the system.</p>
          <p class="nav"><a class="btn btn-default" href="#breweries" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <h2>Locations</h2>
          <p>See the list of locations where beers and glassware are stored.</p>
          <p class="nav"><a class="btn btn-default" href="#locations" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </script>

    <script type="text/html" id="template-beers">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">
              <span class="link ordering" data-field="<%= params.ordering == '+name' || params.ordering == '' ? '-' : '+' %>name">Name
                <% if (params.ordering.contains('name') || params.ordering == '') { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-3">
              <span class="link ordering" data-field="<%= params.ordering == '+style' ? '-' : '+' %>style">Style
                <% if (params.ordering.contains('style')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-1">
              <span class="link ordering" data-field="<%= params.ordering == '+quantity' ? '-' : '+' %>quantity">Quantity
                <% if (params.ordering.contains('quantity')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-2">
              <span class="link ordering" data-field="<%= params.ordering == '+brewery' ? '-' : '+' %>brewery">Brewery
                <% if (params.ordering.contains('brewery')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-2">
              <span class="link ordering" data-field="<%= params.ordering == '+location' ? '-' : '+' %>location">Location
                <% if (params.ordering.contains('location')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <% _.each(beers.results, function(beer){ %>
            <tr>
              <td><%= beer.name %></td>
              <td><%= beer.style %></td>
              <td><%= beer.quantity %></td>
              <td><a href="#breweries/<%= beer.brewery %>/beers"><%= beer.brewery %></a></td>
              <td><a href="#locations/<%= beer.location %>/beers"><%= beer.location %></a></td>
              <td>
                  <span class="link glyphicon glyphicon-chevron-right toggle" title="More Actions">
                    <span class="link delete btn btn-xs btn-danger hide" title="Remove Beer" data-uri="beers/<%= beer.id %>"><span class="glyphicon glyphicon-remove danger"></span></span>
                  </span>
              </td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <% if (beers.previous) { %>
                <a href="#<%= beers.previous.replace(api.base, '') %>">Previous</a>
              <% } %>
            </td>
            <td colspan="3"></td>
            <td class="text-right">
              <% if (beers.next) { %>
                <a href="#<%= beers.next.replace(api.base, '') %>">Next</a>
              <% } %>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <form method="POST" action="<%= api.version %>/beers" class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add a Beer</legend>

          <div class="row">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="beer-name">Name</label>
              <div class="col-md-5">
                <input id="beer-name" name="name" type="text" placeholder="" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="beer-brewery">Brewery</label>
              <div class="col-md-5">
                <select id="beer-brewery" name="brewery" class="form-control">
                <% _.each(options.breweries, function(brewery){ %>
                  <option value="<%= brewery.id %>"><%= brewery.name %></option>
                <% }); %>
                </select>
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="beer-style">Style</label>
              <div class="col-md-5">
                <select id="beer-style" name="style" class="form-control">
                  <% _.each(options['beer-styles'], function(styles, group){ %>
                    <optgroup label="<%= group %>">
                      <% _.each(styles, function(style){ %>
                        <option value="<%= style %>"><%= style %></option>
                      <% }); %>
                    </optgroup>
                  <% }); %>
                </select>
              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="beer-location">Location</label>
              <div class="col-md-5">
                <select id="beer-location" name="location" class="form-control">
                <% _.each(locations.results, function(location){ %>
                  <option value="<%= location.id %>"><%= location.name %></option>
                <% }); %>
                </select>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="beer-quantity">Quantity</label>
              <div class="col-md-1">
              <input id="beer-quantity" name="quantity" type="text" placeholder="" class="form-control input-md" required="" value="1" />
              </div>
              <div class="col-md-4">
                <button id="beer-add" name="add" class="btn btn-success">Add</button>
                <input type="reset" class="btn btn-primary" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 alert hide result"> </div>
            </div>

            </fieldset>
          </form>
        </div>
      </div>
    </script>

    <script type="text/html" id="template-breweries">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">
              <span class="link ordering" data-field="<%= params.ordering == '-name' || params.ordering == '' ? '-' : '+' %>name">Name
                <% if (params.ordering.contains('name') || params.ordering == '') { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-3">
              <span class="link ordering" data-field="<%= params.ordering == '+city' ? '-' : '+' %>city">City
                <% if (params.ordering.contains('city')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-2">
              <span class="link ordering" data-field="<%= params.ordering == '+state' ? '-' : '+' %>state">State
                <% if (params.ordering.contains('state')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-2">links</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(breweries.results, function(brewery){ %>
            <tr>
              <td><%= brewery.name %></td>
              <td><%= brewery.city %></td>
              <td><%= brewery.state %></td>
              <td>
                <a href="#breweries/<%= brewery.id %>/beers">beers</a>
                | <a href="#breweries/<%= brewery.id %>/glassware">glasses</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <% if (breweries.previous) { %>
                <a href="#<%= breweries.previous.replace(api.base, '') %>">Previous</a>
              <% } %>
            </td>
            <td colspan="2"></td>
            <td class="text-right">
              <% if (breweries.next) { %>
                <a href="#<%= breweries.next.replace(api.base, '') %>">Next</a>
              <% } %>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <form method="POST" action="<%= api.version %>/breweries" class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add a Brewery</legend>

          <div class="row">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="brewery-id">ID</label>
              <div class="col-md-5">
                <input id="brewery-id" name="id" type="text" placeholder="Slug ID i.e. brewing-brewery-co" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="brewery-name">Name</label>
              <div class="col-md-5">
                <input id="brewery-name" name="name" type="text" placeholder="" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="brewery-city">City</label>
              <div class="col-md-5">
                <input id="brewery-city" name="city" type="text" placeholder="" class="form-control input-md" />

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="brewery-state">State</label>
              <div class="col-md-1">
              <input id="brewery-state" name="state" type="text" placeholder="" class="form-control input-md" required="" />
              </div>
              <div class="col-md-4">
                <button id="brewery-add" name="add" class="btn btn-success">Add</button>
                <input type="reset" class="btn btn-primary" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 alert hide result"> </div>
            </div>

            </fieldset>
          </form>
        </div>
      </div>
    </script>

    <script type="text/html" id="template-glasswares">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-4">
              <span class="link ordering" data-field="<%= params.ordering == '+description' ? '-' : '+' %>description">Description
                <% if (params.ordering.contains('description')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-3">
              <span class="link ordering" data-field="<%= params.ordering == '+brewery' || params.ordering == '' ? '-' : '+' %>brewery">Brewery
                <% if (params.ordering.contains('brewery') || params.ordering == '') { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-3">
              <span class="link ordering" data-field="<%= params.ordering == '+style' ? '-' : '+' %>style">Style
                <% if (params.ordering.contains('style')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
            <th class="col-md-1" colspan="2">
              <span class="link ordering" data-field="<%= params.ordering == '+quantity' ? '-' : '+' %>quantity">Quantity
                <% if (params.ordering.contains('quantity')) { %>
                  <span class="glyphicon glyphicon-chevron-<%= params.ordering[0] == '-' ? 'up' : 'down' %>"></span>
                  <% } %>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% _.each(glasswares.results, function(glassware){ %>
            <tr>
              <td>
                <% if (glassware.image) { %>
                  <span class="link image" data-toggle="modal" data-target="#image-modal" data-image="<%= glassware.image%>"><%= glassware.description %></span>
                <% } else { %>
                  <%= glassware.description %>
                <% } %>
              </td>
              <td><a href="#breweries/<%= glassware.brewery %>/glasswares"><%= glassware.brewery %></a></td>
              <td><%= glassware.style %></td>
              <td><%= glassware.quantity %></td>
              <td>
                <span class="link glyphicon glyphicon-chevron-right toggle" title="More Actions">
                  <span class="link delete btn btn-xs btn-danger hide" data-uri="glasswares/<%= glassware.id %>"><span class="glyphicon glyphicon-remove danger"></span></span>
                </span>
            </td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <% if (glasswares.previous) { %>
                <a href="#<%= glasswares.previous.replace(api.base, '') %>">Previous</a>
              <% } %>
            </td>
            <td colspan="2"></td>
            <td class="text-right">
              <% if (glasswares.next) { %>
                <a href="#<%= glasswares.next.replace(api.base, '') %>">Next</a>
              <% } %>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <form method="POST" action="<%= api.version %>/glasswares" class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add a Glass</legend>

          <div class="row">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="glassware-description">Description</label>
              <div class="col-md-5">
                <input id="glassware-description" name="description" type="text" placeholder="" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="glassware-brewery">Brewery</label>
              <div class="col-md-5">
                <select id="glassware-brewery" name="brewery" class="form-control">
                  <option value="">None</option>
                <% _.each(breweries.results, function(brewery){ %>
                  <option value="<%= brewery.id %>"><%= brewery.name %></option>
                <% }); %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="glassware-image">Select File</label>
              <div class="col-md-5"><input type="file" accept="image/*" name="image" /></div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="glassware-style">Style</label>
              <div class="col-md-3">
                <select id="glassware-style" name="style" class="form-control">
                  <% _.each(options['glassware-styles'], function(style){ %>
                      <option value="<%= style[0] %>"><%= style[1] %></option>
                  <% }); %>
                </select>
              </div>
              <div class="col-md-3">
                <button id="glassware-add" name="add" class="btn btn-success">Add</button>
                <input type="reset" class="btn btn-primary" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 alert hide result"> </div>
            </div>

            </fieldset>
          </form>
        </div>
      </div>
    </script>

    <script type="text/html" id="template-locations">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Links</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(locations.results, function(location){ %>
            <tr>
              <td><%= location.name %></td>
              <td>
                <a href="#locations/<%= location.id %>/beers">beers</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <% if (locations.previous) { %>
                <a href="#<%= locations.previous.replace(api.base, '') %>">Previous</a>
              <% } %>
            </td>
            <td class="text-right">
              <% if (locations.next) { %>
                <a href="#<%= locations.next.replace(api.base, '') %>">Next</a>
              <% } %>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="row">
        <form method="POST" action="<%= api.version %>/locations" class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add a Location</legend>

          <div class="row">
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location-id">Name</label>
              <div class="col-md-5">
                <input id="location-id" name="name" type="text" placeholder="Slug ID i.e. inside-fridge" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location-name">Name</label>
              <div class="col-md-5">
                <input id="location-name" name="name" type="text" placeholder="" class="form-control input-md" required="" />

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location-quantity"></label>
              <div class="col-md-4">
                <button id="add" name="add" class="btn btn-success">Add</button>
                <input type="reset" class="btn btn-primary" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-6 alert hide result"> </div>
            </div>

            </fieldset>
          </form>
        </div>
      </div>
    </script>

    <!-- Modal -->
    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <img class="col-md-12" src="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/jquery.serialize-object.js' %}"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.10.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <!-- Auth0 lock script -->
    <script src="https://cdn.auth0.com/js/lock/10.3.0/lock.min.js"></script>

    <script src="{% static 'js/auth0-variables.js' %}"></script>

    <script src="{% static 'js/core.js' %}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
